body {
background-color: #1f2937;
color: #f9faf8;
font-family: sans-serif, Arial, Helvetica;
}

header {
    display: flex;
    
}

header ul {
    display: flex;
    flex:1 1 auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    margin: 10px;
    height: 60px;
    
    
}
.Logo {
    display:flex;
    gap: 8px;
    margin: 8px;
}

.section-one {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.section-one button {
    color: white;
    background-color: #3882f6;
    border-radius: 6px;

    
}

.teddy {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 40px;
}

.section-one img {
    height: 350px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid #17b4e4;

}

.section-two {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1f2937;
}

.section-three {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    background-color: #E5E7EB;
}

.section-four {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    flex: 1 1 20%;
}


ul {
    color: black;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}

.section-two h1 {
    display: flex;
    justify-content: center;
}

.array {
    display: flex;
    margin-bottom: 100px;
    flex-wrap:wrap;
    justify-content: center;

}

.array img {
    height: 150px;
    width:auto;
    border-radius:25px;
    border: 2px solid blue;
    
}

.array div {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
}
